body{
    font-family: 'Source Sans Pro', helvetica, sans-serif;
    color: #666;
    line-height: 2;
}
a{
    transition: color .2s linear, border .2s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9d;
}
a:hover{
    border-bottom-color: transparent;
}
img{
    max-width: 100%;
    display: block;
}

p{
    margin: 0 0 2em;
}

h1, h2, h3, h4, h5, h6{
    color: #787878;
    font-weight: normal;
    margin: 1em 0;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}
sub, sup{
    font-size: 12px;
}
blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding:  .5em 0 .5em 1.5em;
}

code{
    background-color: #f7f7f7;
    border-radius: .35em;
    border: 2px solid #efefef;
    font-size: 0.9em;
    padding: 0.25em 0.5em;
    font-family: 'Courier New', monospace;
    color: #929292;

}
pre code{
    display: block;
}

ul, ol{
    margin: 0;
    padding: 0;
    list-style-position: inside;
    padding-left: 1.1em;
}
li{
    padding-left: .6em;
}
*:before,
*:after {
  box-sizing: border-box;
}

.ul-alternada{
    list-style-type: none;
    padding-left: 0;
}
.ul-alternada li {
    border-bottom: 2px solid rgb(229, 228, 228);
}
.ul-alternada li:last-child{
    border: 0;
}
.ul-icones{
    list-style-type: none;
    padding-left: 0;
}
.ul-icones li{
    display: inline-block;
    color: #49bf9d;
}
input, label, textarea{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
input, textarea, select{
    background: rgb(244, 243, 243);
    padding: 15px;
    border-radius: 5px;
    border: solid 2.5px transparent;
    margin-bottom: 10px;
}
input[type="radio"], input[type="checkbox"]{
    width: auto     ;
}
input:focus, textarea:focus{
    border: solid 2.5px #49bf9d;
    outline: none;
}
textarea{
    height: 10em;
}

.menu-principal{
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 35%;
    background-color: aqua;
    padding: 124px 72px 72px 54px;
    box-sizing: border-box;
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;

}
.menu-h1{
    font-size: 28px;
    font-weight: normal;
    line-height: 1.5;
    color: rgba(255,255, 255,.5);
    
}
.menu-h1 strong{
    color:white;
    font-weight: normal;
}
.menu-link{
    color: inherit;
}
.menu-link:hover{
    color: #49bf9d;
}

.conteudo-principal{
    width: 67%;
    margin-left: 33%;
    padding: 124px 72px 72px 54px;
    box-sizing: border-box;
}
.recente-works-card img{
    border-radius: 10px;
}
.main-header-link img{
    border-radius: 50%;
    overflow: hidden;
}
/*Grid*/
.row{
    overflow: auto;
}
.col-2{
    width: 48%;
    float: left;
}
.col-2:first-child{
    margin-right: 2%;
}
.col-2:last-child{
    margin-left: 2%;
}
.col2-3{
    width: 65%;
    float: left;
    
}
.col1-3{
    width: 32%;
    float:left;
}
.col1-3:nth-child(3n - 2){
    margin-right:  2%;
}
.col1-3:nth-child(3n){
    margin-left:  2%;
}
.col2-3 + .col1-3,.col1-3 + .col2-3{
    margin-left: 2%;
}

/*imagens*/
.imagem-link{
    border: 0;
    display: block;
    margin: 10px;
    position: relative;
}
.imagem-link:before{
    content: '';
    position: absolute;
    top: 0; left:0;
    height: 100%;
    width: 100%;
    background: transparent;
    transition: all .5s;

}
.imagem-link:hover:before{
    background: rgba(0,0, 0,.5);
}
.imagem-link:after{
    opacity: 0;
}
.imagem-link:hover:after{
    content: 'Veja mais';
    display: block;
    position: absolute;
    color: white;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.gallery-img img{
    width: 100%;
    border-radius: 5px;
}

.gallery-thumb img, .gallery-img img{
    margin-bottom: 2%;
    border-radius: 5px;
    display: inline-block;
}
.img-right{
    float:right;
    border-radius: 10px;
}
.img-left{
    float:left;
    border-radius: 10px;
}
/*botões*/
.bt-padrao{
    background-color: #49bf9d;
    border: 3px solid #49bf9d;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .8em;
    text-align: center;
    display: inline-block;
    width: auto;
    transition: all .5s;
    cursor: pointer;
}
.bt-padrao:hover{
    background-color: #4fd2ad;
    border-color: transparent;
}
.bt-padrao-vazado{
    background-color: white;
    border-color: #efefef;
    color: inherit; 
    transition: all .5s;
}
.bt-padrao-vazado:hover{
    color: #49bf9d;
    border-color: #49bf9d;
    background-color: white;
}
.bt-p{
    font-size: 0.6em;
}
.bt-g{
    display: block;
    text-align: center;
}
.bt-gg{
    font-size: 1em;
    padding: 10px 30px;
}

/*Tabelas*/
.tabela{
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}
.tabela td{
    padding: .75em;
}
.tabela th{
    background:#ccc ;
    padding: .75em;
}
.tabela tbody tr td{
    border-bottom: 1px solid #ddd;
}
.tabela tbody tr:first-child td{
    border-top:1px solid #ddd;
}
.tabela tbody tr:last-child td{
    border-bottom:1px solid #ddd;
}
.tabela tbody tr:nth-child(even) td{
    background: rgb(234, 233, 233);
}
.tabela-alternada tbody td, .tabela-alternada tbody tr:first-child td, .tabela-alternada tbody tr:last-child td{
    border: 1px solid #ddd;
}
/*Footer*/
.main-footer{
    position: fixed;
    bottom: 0;
    width: 35%;
    left: 0;
    padding: 0 72px 72px 0;
    box-sizing: border-box;
    text-align: right;
    color: #ccc;
    transition: .2s;
}
.main-footer li{
    list-style: none;
}
.main-footer a{
    color: rgba(255,255, 255,.5);
}
.main-footer i{
    color: rgba(255,255, 255,.5);
}
.main-footer a:hover{
    color: #49bf9d;
}
.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}
/*personalizando radio e checkbox*/
.bt-personalizado{
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.8em;
}
  /*Disntancia entre 2botões*/
  .bt-personalizado + .bt-personalizado{
    margin-top: 0.5em;
  }
  /* escondendo o original */
  input[type="checkbox"], input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: rgb(244, 243, 243);
    /* Not removed via appearance */
    margin: 0;
    
    font: inherit;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid rgb(244, 243, 243);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  input[type="radio"] {
      border-radius: 50%;
  }
  
  input[type="checkbox"]::before, input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #49bf9d;
}
  
  input[type="checkbox"]:checked::before, input[type="radio"]:checked::before {
    transform: scale(1);
}
  
  input[type="checkbox"]:focus, input[type="radio"]:focus {
    border-color:  #49bf9d;
    
}
input[type="checkbox"]:hover, input[type="radio"]:hover{
    cursor: pointer;
}  